module.exports = {
	discord: {
		token: '',
		guild: '',
		client_id: '',
		logs_channel: '',
		admin_role: '',
		mod_role: '',
		welcome_channel: '',
	},
	mariadb: {
		host: 'db',
		user: 'mariadb',
		password: 'mariadb',
		database: 'mariadb',
	},
	utilities: {
		promptfile: '',
		welcomemessagesfile: '',
		openai: '',
	customvc:{
			channel: '',
		},
	releases: {
			releases_channel: '',
			image_channel: '',
			webhook_url: '',
			release_role: '',
			verified_artist_role: '',
		},
	},
};