backend/docs
backend/creds
**/**/__pycache__
backend/.vscode
backend/.env
backend/.venv
backend/.vscode
backend/.git
backend/.github
Shappy-RLHI/env.js
Shappy-RLHI/.env
Shappy-RLHI/node_modules
Shappy-RLHI/.vscode
Shappy-RLHI/.git
Shappy-RLHI/.github
.env
env.js
node_modules
.venv
.vscode
.git
.github
```